@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@font-face {
  font-family: 'Charter';
  src: url('../fonts/charter-regular.otf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Charter';
  src: url('../fonts/charter-italic.otf');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'Charter';
  src: url('../fonts/charter-bold.otf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Charter';
  src: url('../fonts/charter-italic-bold.otf');
  font-style: italic;
  font-weight: bold;
}

:root {
  font-size: 16px;
  --gray30: #212121;
  --gray20: #212429;
  --gray10: #616161;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #251F24;
  color: #fff;
  margin: 0;
}


.wrapper {
  /*delimitar fronteras y centrar*/
  max-inline-size: 902px;
  /* block-size: 100px; */
  margin: auto;
}


img {
  max-width: 100%;
  display: block;
}

a {
  color: #fff;
  text-decoration: none;
}

p { color:  #A5A3A5;
}

header {
  font-size: 0.875rem;
  width: 188px;
  color: #fff;
  position: absolute;
  top: 64px;
  left: -232px;
  z-index: -1;
}

header a:hover {
  color: #eee;
  background-color: #fff;
  padding: .5rem;
}

header li {
  margin-bottom: 24px
}

nav details summary {
  font-weight: bold;
}


h1 {
  font-size: 3.75rem;
  margin-block-start: 4rem;
  margin-block-end: 1rem;
  font-weight: normal;
}

h1~p {
  margin-bottom: 4rem;
}

hr {
  border: 1px solid --var(--gray10);
  margin-block: 2.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-block: 2.5rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  background-color: #251F24;
  padding: 2rem 0;
  position: sticky;
  top: 0;
}

pre {
  background-color: #FEC62E;
  padding: 20px;
  line-height: 24px;
}


blockquote {
  margin: 2rem 0;
  padding-left: 1rem;
  border-left: 10px solid #fff;
  font-size: 1.5rem;
  border-radius: 8px;
  background-color: var(--gray10);
  
}

.main hr {
  display: none;
}
blockquote span {
  color: var(--gray20);
}

blockquote span::before {
  content: '-';
}

.header {
  position: sticky;
  top: 0;
}

.header-content {
  position: relative;
}

.hero {
  background-image: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
  height: 350px;
  margin: 0;
}

.section-content {
  margin-block-start:5rem;
  margin-block-end:3.75rem;
  position: relative;
}

.section-content:first-of-type {
  margin: 0;
}

.section-content ol li {
  line-height: 1.5rem;
}

.section-content ul li {
  margin-block-end: 1rem;
}

.section-content+hr {
  display: none;
}

.section-content {
  counter-reset: titleList;
}

.section-content img {
  margin-block-start: 2.5rem;
  display: block;
}

.section-content h3 {
  counter-increment: titleList;
  padding-bottom: 8px;
  position: relative;
}

.section-content h3::before {
  content: counter(titleList, decimal)'. ';
}

.section-content h3::after {
  content: '';
  width: 80px;
  height: 4px;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
}